
.container {
    margin-top: 50px;
    background: linear-gradient(to top, #cdd2fb, #ffffff);
    overflow: hidden; 
    height: 1500px;
  }

.button {
   background-color: rgb(255, 255, 255);
   border: 1px solid rgb(224, 215, 215);
   padding: 6px 14px;
   font-size: 10px;
   border-radius: 8px;
   margin-left: 645px
 }
.app {
   font-size: 2.5em;
   color: #333;
   margin-bottom: 20px;
   text-align: center;
}
.app::after {
   content: ' to track progress';
   display: block;
   font-size: 12; 
   color: #333;
 }
.app2 {
   width: 400px;
   text-align: center;
   margin-left: 512px;
}
 
 .mainImage {
   width: 1430px;
   height: 1000px;
   margin-top: -50px;
   margin-left: -10px;
   display: block;
 }
 
 .overlayImage1 {
   top: 800px; 
   left: 0px;
   position: absolute;
   width: 180px;
   height: 250px; 
   height: auto;
 }
 
 .overlayImage2 {
   top: 439px; 
   left: 1252px;
   position: absolute;
   width: 188px;
   height: 250px; 
   height: auto;
 }

 

.cont2 {
   display: flex;
   justify-content: space-around;
}
.cat {
   font-size: 19px;
}
.cat1::after {
   content: 'your efforts everyday.';
   display: block;
   font-size: 12; 
   color: #333;
 }
 .cat2::after {
   content: 'manageable task breakdowns.';
   display: block;
   font-size: 12; 
   color: #333;
 }
 .cat3::after {
   content: 'tier encryption.';
   display: block;
   font-size: 12; 
   color: #333;
 }
 .cat4::after {
   content: 'that matter most.';
   display: block;
   font-size: 12; 
   color: #333;
 }
.fl {
   margin-left: 5px;
}
.link {
   text-decoration: none;
   display: inline-block;
   color: black;
 }





 .container2{
   margin-top: 100px;
}
.abb {
font-size: 2.5em;
   color: #333;
   margin-bottom: 20px;
   text-align: center;
}
.abb::after{
   content: ' management';
   display: block;
   font-size: 12; 
   color: #333;
}
.cards {
   display: flex;
   margin-left: 200px;

}
.card1 {
   width: 480px;
   height: 530px;
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   margin: 20px;
   transition: transform 0.2s;
 }
 .card2 {
   width: 480px;
   height: 530px;
   border: 1px solid #ddd;
   border-radius: 8px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   background-color: #fff;
   margin: 20px;
   transition: transform 0.2s;
 }
.card2 {
   margin-left: -10px;
}
.cardTi1{
   margin-top: 23px;
   margin-left: 90px;
   font-size: 23px;
}
.cardPa1 { 
   width: 340px;
   text-align: center;
   margin-left: 60px;

}
.cubo {
   margin-top: 55px;
   margin-left: 90px;
   width: 300px;
}


/* Footer */

.footer {
   background-color: rgb(0, 0, 0);
   display: flex;
}
.fot1 {
   width: 250px;
   color: #BCBCBC;
}
.tituloft{
   margin-left: 30px;
}
.fotim{
   margin-left:-10px;
   margin-top: 40px;
}
.iconos6 {
   margin-top: 50px;
   margin-left: 24px;
}
.foticn {
   margin-right: 14px;
}

/* Columnas */
.colum {
   margin-top: 20px;
   display: flex;
   margin-left: 680px;
}
.colum2 {
   margin-right: 50px;
}
.fot4 {
   color: white;
}
.fot5 {
   color: #7B7B7B;
}